.reaction-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-and-leaderboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Adjust based on your page layout */
}

.statistics {
    flex: 1;
    margin-right: 20px; /* Adds space between the statistics and leaderboard */
}

.leaderboard {
    flex: 1;
}


button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
button:disabled {
    background-color: #a7a6a6;
    color: #666666;
    cursor: not-allowed;
}
input {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

