/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --card-bg-color: white;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  overflow: hidden;
}
header {
  background: #fff;
}
header .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  gap: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

.workouts{
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0;
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 0px;
  border-radius: 50%;
  color: #333;
}

/* CSS FOR TILES BELOW HERE */

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-icon {
  width: 100px;
  height: auto;
  margin: 10px 0;
}

.card p {
  color: #555;
  margin-bottom: 20px;
}

.play-link {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primary);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.play-link:hover {
  background: #0e8c5f;
  cursor: pointer;
}
